body {
  background-image: url('https://drive.google.com/uc?export=view&id=1_gKxoNB5VcZUsQFC5T3er_1zwSVpUn5X');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}